{
    "printWidth": 80,
    "useTabs": false,
    "tabWidth": 4,
    "bracketSpacing": false,
    "jsxBracketSameLine": true,
    "arrowParens": "always",
    "extends": ["plugin:prettier/recommended"],
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all"
}
